
<body>
<h1>Add talent:</h1>
*Please add full name of the talent, city (no abbreviations please) & date of birth
<form action='/add' method="post">
<input type="text" name="name" placeholder="Full Name" required>
<input type="text" name="location" placeholder="Name of the city" required>
<input type="date" name="date_of_birth" placeholder="YYYY-MM-DD" required >
<button class="add"> Add talent</button>
<form action="/" method="get">
</form>
</body>