<body>
<img src="https://i.ibb.co/5TVTg5v/Screenshot-2021-01-24-at-12-54-10.png" alt="ContactTalent"></img>
<form action='/add' method ='get'>
<button class="add">Add Talent</button>
</form>
<form action='/search' method='get'>
<button class="search">Seach for Talent</button>
</form>
</body>