
<body>
<h1>Welcome to CONTACT</h1>
<div class="container">
<div class="add">
<form action='/add' method ='get'>
<button>Add Talent</button>
</div>
</form>
<div class="search">
<form action='/search' method='get'>
<button>Seach for Talent</button>
</form>
</div>
</div>
</body>