<style>

body {
  background-color : #FFFAFA;
  text-align : center;
  font-family: 'Roboto', sans-serif;
  margin-top: 70px;
}
 h1 {
	 margin-top: 40px;
	 margin-bottom: 40px;
	 font-family: 
 }
  button.search, button.add, input[type="submit"] {
	 display:inline-block;
	 background-color: pink;
	 width: 270px;
	 height: 100px;
	 font-family: 'Roboto', sans-serif;
	 font-size: 20px;
}
input[type="text"], input[type="date"] {
	margin-top: 20px;
	 width: 270px;
	 height: 100px;
	 text-align: center;
	 font-family: 'Roboto', sans-serif;
}


</style>
<!DOCTYPE html>
<html>
<head>
  <title>ContactTalent</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
</head>


<div class="nav_bar">
   <a class="nav_link" href="/">Home</a>
  <a class="nav_link" href="/search">Search</a>
	 <a class="nav_link" href="/add">Add</a>
  <p>

</div>

<body>

<%= yield %>

</body>


</html>
