<!DOCTYPE html>
<html>
<head>
  <title>One night stays</title>
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

</head>

<a class="site_header" href="/">ContactTalent</a>

<div class="nav_bar">
   <a class="nav_link" href="/">Home</a>
  <a class="nav_link" href="/search">Search</a>
	 <a class="nav_link" href="/add">Add</a>
  <p>

</div>

<body>
<hr>

<%= yield %>

</body>


</html>
