<body>
Please insert a location - city (no abbreviations please) to find the talent you are looking for
<form action="/search" method="post">
<input type="text" name="location" placeholder="Please type in a city here" required>
<input type="submit" name="Search">
</form>
</body>